<div class="topheader">
    <div class="glyphicons">
        <i class="fa fa-instagram fa-lg icon" style="color: #bec1c5;" data-tooltip="Instagram"></i>
        <i class="fa fa-facebook fa-lg icon" style="color: #bec1c5;" data-tooltip="Facebook"></i>
        <i class="fa fa-twitter fa-lg icon" style="color: #bec1c5;" data-tooltip="Twitter"></i>
        <i class="fa fa-youtube fa-lg icon" style="color: #bec1c5;" data-tooltip="YouTube"></i>
    </div>
    <div class="mail">
        <i class="fa fa-envelope fa-lg" style="color: #bec1c5;"></i>
           reachfoundation&#64;gmail.com
    </div>
    <div class="phoneNumber" >
        <i class="fa fa-phone fa-lg" style="color: #bec1c5;"></i>
          <span style="color: black;">1800-425-8622</span>   
    </div>
    <div class="register">
        <i class="fa fa-user fa-lg" style="color: #bec1c5;"></i>
         SignUp / Login
    </div>
</div>