<div class="header">
    <div class="logo">
        <a href="Home"><img src="/assets/images/reach.jpeg" style="height: 50px; ">
       </a> REACH FOUNDATION
    </div>
    <div class="header--nav">
        <div class="bottom--bar">
            <div class="menu">
                <a routerLink="Home">Home</a>
                <a routerLink="Events">Events</a> 
                <a routerLink="Donate">Donate</a>
                <a routerLink="Contact">Contact Us</a>
            </div>
            <div class="search-bar">
                <input type="text" class="search-box" placeholder="Search" >
                <button class="search--btn">
                <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div> 