<div class="about">
    <div class="footer">
      <div class="footerImg">
        <img src="/assets/images/reach.jpeg" alt="branding" >
      </div>
      <div class="row2">
        <div class="col2">
          <b>ABOUT</b><br>
          <a href="#">About Us</a><br>
          <a href="#">Locations</a><br>
          <a href="#"> Licence</a><br>
          <!-- <a href="#">Donate</a><br> -->
        </div>
  
        <div class="col2">
          <b>HELP</b><br>
          <a href="#">Donate</a><br>
          <a href="#">FAQ</a><br>
          <a href="#"> Contact Us</a><br>
          <a href="#">Join us</a>
        </div>
  
        <div class="col2">
          <b>FOLLOW US</b><br>
          <i class="fa fa-instagram fa-lg icon" ></i>
          <i class="fa fa-facebook fa-lg icon" ></i>
          <i class="fa fa-twitter fa-lg icon" ></i>
          <i class="fa fa-youtube fa-lg icon" ></i>
        </div>
      </div>
  
      <div style="line-height: 2; padding-left: 250px; text-align: center;">
        <br><br>
        <h6><b>Terms and Conditions | Privacy Policy</b></h6>
        <h6><b>© 2022 Goto Concept LLC All rights reserved.</b></h6>
        
      </div>
    </div>
  </div>
