<div class="container">
    <form action="">
        <div class="row">
            <div class="column">
                <h3 class="title">Billing Details</h3>
                <div class="input-box">
                    <span>Full Name: </span>
                    <input type="text" placeholder="Harshith">
                </div>
                <div class="input-box">
                    <span>Email: </span>
                    <input type="text" placeholder="harshith@example.com">
                </div>
                <div class="input-box">
                    <span>Address : </span>
                    <input type="text" placeholder="Street - Locality">
                </div>
                <div class="input-box">
                    <span>City : </span>
                    <input type="text" placeholder="Hyderabad">
                </div>
                <div class="flex">
                    <div class="input-box">
                        <span>State: </span>
                        <input type="text" placeholder="Telangana">
                    </div>
                    <div class="input-box">
                        <span>Zip Code: </span>
                        <input type="text" placeholder="123 123">
                    </div>
                </div>
            </div>

            <div class="column">
                <h3 class="title">Payment</h3>
                <div class="input-box">
                    <span>Cards Accepted : </span>
                    <img src="/assets/images/imgcards.png" >
                </div>
                <div class="input-box">
                    <span>Name On Card: </span>
                    <input type="text" placeholder="Mr. Harshith">
                </div>
                <div class="input-box">
                    <span>Cradit Card Number : </span>
                    <input type="number" placeholder="1111 2222 3333 4444">
                </div>
                <div class="input-box">
                    <span>Exp. Month : </span>
                    <input type="text" placeholder="June">
                </div>
                <div class="flex">
                    <div class="input-box">
                        <span>Exp. Year: </span>
                        <input type="number" placeholder="2027">
                    </div>
                    <div class="input-box">
                        <span>CVV : </span>
                        <input type="text" placeholder="123">
                    </div>
                </div>

            </div>
        </div>
        <button type="button" class="btn">submit</button>
    </form>
</div>
