<div class="container">
    <div class="image-container">
        <img src="/assets/images/home.jpg" alt="wegr">
        <div class="image-text1">Donate</div>
        <div class="image-text2">4 a better world</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
            Id similique ullam beatae, harum, deserunt, quod eos sapiente<br>
            nisi maiores accusantium ab expedita reiciendis cumque ducimus.<br>
            Rerum nobis dolore delectus. Porro!</p>
        <div class="button">
            <a href="Donate"><button class="btn">Donate</button></a>
            <a href="Events"><button class="btn">Read More</button></a>
        </div>
    </div>
    <div class="container2">
        <div class="image2">
            <img src="/assets/images/ngo.png" alt="" style="width: 400px; height: 500px; padding-left: 20px;">
        </div>
        <div class="description2">
            <h1 style="font-size: 40px;">Create An Event</h1>
            <h3 style="font-size: 20px ; padding-right: 80px; font-family: Arial, Helvetica, sans-serif;">Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Minima dolores ad exercitationem, molestias mollitia minus
                itaque deleniti quos facilis inventore dolorum beatae numquam natus facere, maxime ipsam.
                Exercitationem, laborum similique.</h3>
            <a href="CreateEvent"><button class="btn">Create</button></a>
        </div>

    </div>

    <div class="container3">
        <div class="description3">
            <h1 class="header" style="font-size: 40px; padding-left: 80px;">Donate</h1>
            <h3 style=" padding-right: 80px; font-size: 20px; padding-left: 80px; ">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum dolorum possimus minus distinctio, fugit optio dolorem? Ad provident at enim? Iusto odit ad aliquid, maiores cupiditateIusto odit ad aliquid, maiores cupiditate aut laudantium unde.
                <a href="Donate"><button class="btn">Donate</button></a>
            </h3>

        </div>
        <div class="image3">
            <img src="/assets/images/donation.jpg" alt="Description Photo" style="width: 700px; height: 500px;">
        </div>
    </div>

    <div class="sponsers">
        <h1 class="heading">As Seen In</h1>
        <div class="container5">
            <div class="row" style="display: flex; ;">
                <div class="col">
                    <img src="assets/images/Pratham.png" alt="" width="300" height="350" style="padding-left: 50px; ">
                    <img src="/assets/images/helpage.webp" alt="" width="500" height="300"
                        style="padding-left: 100px; padding-bottom: 30px; ">
                    <img src="assets/images/akshaya.webp" alt="" width="450" height="250"
                        style="padding-left: 100px; padding-bottom: 0px; ">
                </div>
            </div>
        </div>
    </div>
</div>